.head{
    display: flex;
    text-align: center;
    align-items: center ;
    justify-content: center;
    margin-top: 10%;
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 5%;
    opacity:0;
    animation: contactlogo1 1s forwards ;
    animation-delay: 1s
}

.about{
    max-width: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;
    margin-left: 20%;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.badge1{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    animation: drop 1s forwards;
    
}
.badge2{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 0.3s;
}
.badge3{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 0.6s;
    
}
.badge4{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 0.9s;
    
}
.badge5{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 1.2s;
    
}
.badge6{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 1.5s;
}
.badge7{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 1.8s;
    
}
.badge8{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 2.1s;
    
}
.badge9{
    background-color: orangered;
    margin-right: 3%;
    font-size: 1.7VW;
    font-weight: 100;
    font-family:Impact, Haettenschweiler,  sans-serif;
    opacity: 0;
    animation: drop 1s forwards;
    animation-delay: 2.4s;
    
}
.paragraph1{
    
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-800%);
    }

    40% {
        transform: translateY(0);
        opacity: 1;
    }

    60% {
        transform: translateY(-200%)
        rotate3d(0, 0, 1, 10deg);
    }
    70%{
        transform: translatey(0)
        rotate3d(0, 0, 1, 10deg);

    }
    78%{
        transform: translatey(-150%)
        rotate3d(0, 0, 1, -10deg);
    }
    85%{
        transform: translatey(0%)
        rotate3d(0, 0, 1, -10deg);
    }
    92%{
        transform: translatey(-100%)
        rotate3d(0, 0, 1, 10deg);
    }
   
    100% {
        transform: translateY(0);
        
        opacity: 1;
    }
}
.background-section {
    background-image: url('./meet2.jpg'); 
    
    background-position:45% -45%;
    background-repeat: no-repeat;
    animation: zoomOut 0.5s ease-in-out;
  }

@keyframes drop1 {
    0% {
      transform-origin:top;
      opacity: 1;
    }
    20% {
      transform: 
        translate3d(0, 20px, 0)
        rotate3d(0, 0, 1, -10deg);
      opacity: 1;
    }
    40%, 45% {
      transform: 
        translate3d(0, -20px, 0)
        rotate3d(0, 0, 1, 10deg);
      opacity: 1;
    }
    to {
      opacity: 1;
      transform: 
        translate3d(0, 200px, 0)
        rotate3d(0, 0, 0, 0deg);
    }
  }