body{
    background-color: black;
    color: white;
}
.create{
    
    font-size: 6vw;
    padding-left: 20%;
    padding-top: 8%;
    font-weight: 700;
    animation: contactlogo1 1s forwards 
   
}

.home:hover{
   
    color: lightblue; 
    transform: scale(-1.4);
}

.home{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: orangered;
    margin-left: 80%;
    font-size: 2vw;
    transform: scale(1.5);
    opacity:0;
    letter-spacing: 1px;
    animation: contactlogo1 1s forwards ;
    animation-delay:2s ;
    
}
.work:hover{
   
    color: lightblue; 
    transform: scale(-1.4);
}

.workhead{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: orangered;
   margin-left:-70%;
    font-size: 2vw;
    transform: scale(1.5);
    opacity:0;
    letter-spacing: 1px;
    animation: contactlogo1 1s forwards ;
    animation-delay:2s ;
    
}
@keyframes contactlogo1 {
    0% {
        opacity: 0;
        transform: translateY(15%);
        
      
    }
    100% {
        transform: translateY(0);
       opacity: 1;
    }
}
.para{
    font-size: 2vw;
    color: white;
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin-top: 13%;
    margin-right: 13%;
    margin-left: 13%;
    margin-bottom: 6%;
}
.links{
    font-size: 2vw;
    color: white;
    display: flexbox;
    justify-content: center;
    text-align: center;
    margin-bottom: 13%;
   
}
a {
    text-decoration: none;
    color: orangered;
}
a:hover{
    color: lightblue; 
    transform: scale(1.1);
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

