.home-container{
   
    background-color: black;
    background-image: url("./meet.jpg");
    background-repeat: no-repeat;
    background-position: right ;
    height: 100vh;
    animation: zoomOut 1s ease-in-out;
  }
  
.hello {
    text-decoration: none;
    color:white;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
   padding-top: 10%;
   padding-left: 15%;
    line-height: 100%;
    transition: margin-left 0.3s ease;
    animation: contactlogo1 1s forwards;
    font-size: 10vw; 
}
.meet{
    opacity: 0;
    line-height: 100%;
    padding-left: 15%;
    text-decoration: none;
    color:orangered ;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    transition: margin-left 0.3s ease;
    animation: contactlogo1 1s forwards ;
    animation-delay: 1s;
    font-size: 10vw; 
}
.meet2{
    opacity: 0;
    line-height: 100%;
    padding-left: 15%;
    text-decoration: none;
    color:orangered ;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    transition: margin-left 0.3s ease;
    animation: contactlogo1 1s forwards ;
    animation-delay: 2s;
    font-size: 10vw; 
}
.hovered{
    margin-left: 5%; /* Adjust the percentage to control the slide distance */
    color: lightblue; 
}
@keyframes contactlogo1 {
    0% {
        opacity: 0;
        transform: translateY(5%);
        
      
    }
    100% {
        transform: translateY(0);
       opacity: 1;
    }
}
@keyframes zoomOut {
    from {
      transform: scale(1.4);
    }
    to {
      transform: scale(1);
    }
  }
  @media (max-width: 768px) {
    .home-container {
      background-size: contain; /* Adjust background size for smaller screens */
   
      
    }

    .hello{
      margin-top: 50%;
      font-size: 18vw;
    }
    .meet{
      margin-top: 10%;
      font-size: 18vw;

    }
    .meet2{
      margin-top: 10%;
      font-size: 18vw;
    }
  }